
            
            <!-- START Central block -->
            <div class="uk-container uk-container-center">
                <div class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1">
                        <main class="tm-content uk-position-relative">
                            <!-- START breadcrumb block -->
                            <ul class="uk-breadcrumb">
                                <li><a href="#"></a></li>
                                <li class="uk-active"><span></span></li>
                            </ul>
                            <!-- END breadcrumb block -->
                            
                            <div id="system-message-container"></div>
                            
                            <!-- START Article block -->
                            <article class="uk-article">
                                <h1 class="uk-article-title">
                                    Schedule			
                                </h1>
                                <div>
                                    <p>
                                        <img class="uk-thumbnail uk-float-right uk-margin-left" src="/images/visuals/schedule.jpg" alt="Schedule demo">
                                        Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                                    </p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis.</p>
                                    <div>
                                        <!-- START Schedule block -->
                                        <div class="uk-position-relative">
                                            <div class="akmf-scroll">
                                                <div class="akmf-header-placeholder gblue">&nbsp;</div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove gwhite">Monday</h3>
                                                </div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove ggrey">Tuesday</h3>
                                                </div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove gwhite">Wednesday</h3>
                                                </div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove ggrey">Thursday</h3>
                                                </div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove gwhite">Friday</h3>
                                                </div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove ggrey">Saturday</h3>
                                                </div>
                                                <div class="akmf-dayname">
                                                    <h3 class="uk-margin-remove gwhite" style="padding-bottom: 16px;">Sunday</h3>
                                                </div>
                                            </div>
                                            <div class="akmf-box" tabindex="0">
                                                <div class="akmf">
                                                    <div class="akmf-header uk-vertical-align">
                                                        <div class="placeholder">&nbsp;</div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">00:00</span><span class="half">00:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">01:00</span><span class="half">01:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">02:00</span><span class="half">02:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">03:00</span><span class="half">03:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">04:00</span><span class="half">04:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">05:00</span><span class="half">05:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">06:00</span><span class="half">06:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">07:00</span><span class="half">07:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">08:00</span><span class="half">08:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">09:00</span><span class="half">09:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">10:00</span><span class="half">10:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">11:00</span><span class="half">11:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">12:00</span><span class="half">12:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">13:00</span><span class="half">13:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">14:00</span><span class="half">14:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">15:00</span><span class="half">15:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">16:00</span><span class="half">16:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">17:00</span><span class="half">17:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">18:00</span><span class="half">18:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">19:00</span><span class="half">19:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">20:00</span><span class="half">20:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">21:00</span><span class="half">21:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">22:00</span><span class="half">22:30</span></div>
                                                        <div class="uk-vertical-align-bottom"><span class="hour">23:00</span><span class="half">23:30</span></div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-monday">
                                                            <div class="akmf-class start-time-8-00 end-time-9-30"><a href="classes/pilates.html">Pilates</a></div>
                                                            <div class="akmf-class start-time-11-00 end-time-12-00">Yoga</div>
                                                            <div class="akmf-class start-time-13-00 end-time-14-00"><a href="classes/swimming.html">Boxing</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-tuesday">
                                                            <div class="akmf-class start-time-10-00 end-time-11-30"><a href="classes/pilates.html">Pilates</a></div>
                                                            <div class="akmf-class start-time-15-00 end-time-16-00">Zumba</div>
                                                        </div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-wednesday">
                                                            <div class="akmf-class start-time-8-30 end-time-10-00"><a href="classes/swimming.html">Kickboxing</a></div>
                                                            <div class="akmf-class start-time-15-30 end-time-17-00"><a href="classes/pilates.html">Pilates</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-thursday">
                                                            <div class="akmf-class start-time-8-00 end-time-9-30"><a href="classes/pilates.html">Pilates</a></div>
                                                            <div class="akmf-class start-time-11-00 end-time-12-00">Yoga</div>
                                                            <div class="akmf-class start-time-13-00 end-time-14-00"><a href="classes/swimming.html">Boxing</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-friday">
                                                            <div class="akmf-class start-time-10-00 end-time-11-30"><a href="classes/pilates.html">Pilates</a></div>
                                                            <div class="akmf-class start-time-15-00 end-time-16-00">Zumba</div>
                                                        </div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-saturday">
                                                            <div class="akmf-class start-time-8-30 end-time-10-00"><a href="classes/swimming.html">Kickboxing</a></div>
                                                            <div class="akmf-class start-time-15-30 end-time-17-00"><a href="classes/pilates.html">Pilates</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="akmf-row">
                                                        <div class="akmf-dayname">&nbsp;</div>
                                                        <div class="akmf-day akmf-sunday">
                                                            <div class="akmf-class start-time-8-00 end-time-9-30"><a href="classes/pilates.html">Pilates</a></div>
                                                            <div class="akmf-class start-time-11-00 end-time-12-00">Pilates</div>
                                                            <div class="akmf-class start-time-13-00 end-time-14-00"><a href="classes/swimming.html">Boxing</a></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- END Schedule block -->
                                    </div>
                                </div>
                            </article>
                            <!-- END Article block -->
                        </main>
                    </div>
                </div>
            </div>
            <!-- END Central block -->
            
            <!-- START Mobile menu block -->
            <div id="offcanvas" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-offcanvas">
                        <li class="uk-parent">
                            <a href="#">Home</a>
                            <ul class="uk-nav-sub">
                                <li class="uk-parent">
                                    <a href="#">Color Variations</a>
                                    <ul>
                                        <li><a href="index.html">Default style</a></li>
                                        <li><a href="http://h-maxx-fitness.torbara.com/demo-4/">Orange style</a></li>
                                        <li><a href="http://h-maxx-fitness.torbara.com/demo-5/">Green Style</a></li>
                                        <li><a href="http://h-maxx-fitness.torbara.com/demo-6/">Red Style</a></li>
                                    </ul>
                                </li>
                                <li><a href="layouts.html">Modules Positions</a></li>
                                <li><a href="coming-soon-page.html">Coming Soon / Offline Page</a></li>
                                <li><a href="error.html">Error page</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li class="uk-active"><a href="schedule.html">Schedule</a></li>
                        <li class="uk-parent">
                            <a href="classes.html">Classes</a>
                            <ul class="uk-nav-sub">
                                <li><a href="#">Weight Loss</a></li>
                                <li><a href="classes/swimming.html">Swimming</a></li>
                                <li><a href="classes/swimming.html">Kickboxing</a></li>
                                <li><a href="classes/cross-trainer.html">Cross Trainer</a></li>
                                <li><a href="#">Muscle Gain</a></li>
                                <li><a href="classes/fast-bodyweight.html">Fast Bodyweight</a></li>
                                <li><a href="classes/pilates.html">Pilates</a></li>
                                <li><a href="classes/boxing.html">Boxing</a></li>
                            </ul>
                        </li>
                        <li><a href="workouts.html">Workouts</a></li>
                        <li><a href="trainers.html">Trainers</a></li>
                        <li><a href="store.html">Store</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contacts.html">Locations</a></li>
                    </ul>
                </div>
            </div>
            <!-- END Mobile menu block -->            
       