<nav>
  <div>
    <!-- START Logo !-->
    <a href="/">Curva</a>
    <!-- END Logo !-->

    <!-- START Menu !-->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/classes">Classes</a></li>
      <li><a href="/ketogenics">Ketogenics</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/training">Training</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/store">Store</a></li>
    </ul>
    <!-- END Menu !-->
  </div>
</nav>